body {
    background-color: black;
    color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.top-bar  {
   display: flex;
   justify-content: space-between;
   padding: 20px 40px;
}

.social-icon a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.social-icon img {
    width: 24px;
    height: auto;
}

.auth a{
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.logo {
    margin: 10px 0;
}

.logo img {
    width: 200px;
}

nav {
    background-color: black;
    padding: 20px 0;
    border-bottom: 2px solid #222;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding: 5px 0;
}