.body {
    background-color: black;
    color: white;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.top-bar  {
   display: flex;
   justify-content: space-between;
   padding: 20px 40px;
}

.social-icon{
    display: flex;
    align-items: center;
    gap: 2px;
}
.social-icon a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.social-icon img{
    max-width: 100%;
    height: auto;
    
}

.tiktok_icon{
    width: 24px;
}

.instagram_icon{
    width: 24px;
}

.twitter_icon{
    width: 18px;
}

.facebook_icon{
    width: 60px;
}

.youtube_icon{
    width: 62px;
}

.auth{
    display: flex;
    align-items: center;
}

.auth a{
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.lupe {
    margin: 0 8px;
}

.registrieren {
    filter: invert(1);
    margin: 0 12px;
    height: 35px;}

.logo {
    margin: 10px 0;
}

.logo img {
    width: 200px;
}

nav {
    background-color: black;
    padding: 20px 0;
    border-bottom: 2px solid #222;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding: 5px 0;
}

.title_carousel {
    text-transform: uppercase;
    margin: 15px;
}

.title_carousel a {
    text-decoration:none;
    color: white;
}

.battle{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 12px;
    padding: 20px;
}

.battle div{
    flex: 1;
    display: flex;
    justify-content: center;
}

.battle img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

footer {
    border-top: 2px solid #222;
    padding: 20px 0;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 12px;
}

.mainpeople{
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.mainpeople img {
    max-width: 100%;
    height: auto;
}

.skywalker img{
    height: 50%;
}

.leia img{
    height: 50%;
}